<div class="col-12 header">
  <div class="char">
    <%= "단원선택" %>
  </div>
</div>

<%= form_tag(math_select_path) do %>

    <ul>
      <% @subjects.each do |subject| %>
        <li>
          <%= check_box_tag 'subject_ids[]', subject.id -%>
          <%= subject.name -%>
        </li>
      <% end %>
    </ul>


    <%= submit_tag('submit') %>

<% end %>
