<div class="col-12 header">
  <div class="char">
    <%= "단원선택" %>
  </div>
</div>
<div class="line col-12">
</div>

<%= form_tag(math_select_path) do %>
    <h2 style="text-align: center;">수학 Ⅱ</h2>
    <div class="line_start col-12">
    </div>
    <div class="ul_start">
      <% @subjects_su2.each do |subject| %>

          <%= check_box_tag 'subject_ids[]', subject.id, false, class: 'subject_input', id: "#{subject.id}" %>
          <%= label_tag "#{subject.id}", subject.name, class: "subject_text" %>

      <% end %>
    </div>
    <div class="line_start col-12">
    </div>
    <h2 style="text-align: center;">미적분 Ⅰ</h2>
    <div class="line_start col-12">
    </div>
    <ul class="ul_start">
      <% @subjects_der.each do |subject| %>
        <li class="li_start">
          <%= check_box_tag 'subject_ids[]', subject.id, false, class: 'subject_input', id: "#{subject.id}" %>
          <%= label_tag "#{subject.id}", subject.name, class: "subject_text" %>
        </li>
      <% end %>
    </ul>

    <div class="submit">
      <%= image_submit_tag('/assets/button_subject') %>
    </div>
<% end %>
